<!DOCTYPE html>
<html lang="en" xmlns:overflow-y="http://www.w3.org/1999/xhtml">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Classifier Stacking</title>
    <style>
        body {
            background: rgb(238, 238, 238);
        }
    </style>
    <script>
        function analyse_stack() {
            let stack_model = $('input[name="stack_model"]:checked').val();
            let chosen_classifiers = [];
            $('input[name="classifiers"]:checked').each(function (index) {
                chosen_classifiers.push('(\'' + (index + 1) + "\', " + this.value + ")");
            });
            let model = `${stack_model}(estimators=[${chosen_classifiers.join(', ')}])`;

            let validation;
            let n_splits = $('input[name="n_splits"]').val();
            let validation_method = $('input[name="validation_method"]:checked').val();
            if (validation_method.includes("KFold")) {
                let n_repeats = $('input[name="n_repeats"]').val();
                validation = `${validation_method}(n_splits=${n_splits}, n_repeats=${n_repeats})`
            } else {
                validation = `${validation_method}(n_splits=${n_splits})`
            }

            let scenario = $('input[name="scenario"]:checked').val();
            let gadget = $('input[name="gadget"]:checked').val();
            let instrument = $('input[name="instrument"]:checked').val();

            $.ajax({
                type: "GET",
                url: "analyse_stack",
                dataType: "json",
                data: {
                    "scenario": scenario,
                    "gadget": gadget,
                    "instrument": instrument,
                    "model": model,
                    "validation_method": validation
                },
                success: function (response) {
                    let report = document.getElementById("report");
                    report.innerHTML = response["content"];
                }
            })
        }
    </script>

</head>
<body>
<div style="width: 100%; height: 7%;">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/filters">Filters</a>
        <a class="navbar-brand" href="/classifiers">Classifiers</a>
        <a class="navbar-brand" href="/classifierstacks">Classifier Stacking</a>
        <a class="navbar-brand" href="/help">Help</a>
    </nav>
</div>

<div style="width: 100%; margin-left: 8px; height: 93%; overflow-y: scroll;">
    Using dataset: {{ data_set_name }}
    <div style="width: 100%; height: 200px; display: flex">
        <div style="width: 15%">
            <h4>Choose Classifiers</h4>
            {% for c in classifiers %}
                <label>
                    <input type="checkbox" name="classifiers" value="{{ c.model }}">
                    {{ c.name }}
                </label><br>
            {% endfor %}
        </div>

        <div id="general_options" style="width: 15%; float: right">
            <h4>Stacking Options</h4>
            <label>Stacked Generalization
                <input type="radio" name="stack_model" value="StackingClassifier" checked>
            </label><br>
            <label>Majority Voting
                <input type="radio" name="stack_model" value="VotingClassifier">
            </label>
        </div>

        <div id="general_options" style="width: 15%">
            <h4>Cross Validation Method</h4>
            <label>K-Fold
                <input type="radio" name="validation_method" value="RepeatedKFold" checked>
            </label><br>
            <label>Stratified K-Fold
                <input type="radio" name="validation_method" value="RepeatedStratifiedKFold">
            </label><br>
            <label>Shuffle Split
                <input type="radio" name="validation_method" value="ShuffleSplit">
            </label><br>
            <label>Stratified Shuffle Split
                <input type="radio" name="validation_method" value="StratifiedShuffleSplit">
            </label><br>

            <label>Number of splits:
                <input type="number" name="n_splits" min="2" max="10" step="1" value="5">
            </label><br>
            <label>repetitions:
                <input type="number" name="n_repeats" min="1" max="10" step="1" value="1">
            </label><br>
        </div>
    </div>
    <input class="btn btn-primary" type="button" onclick="analyse_stack()" value="Analyse Stack">

    <div id="report" style="width: 100%; padding-top: 20px">

    </div>
</div>


</body>
</html>