<!DOCTYPE html>
<html lang="en" xmlns:overflow-y="http://www.w3.org/1999/xhtml">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        body {
            background: rgb(238, 238, 238);
            overflow: hidden;
        }
    </style>


</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/filters">Filters</a>
    <a class="navbar-brand" href="/classifiers">Classifiers</a>
    <a class="navbar-brand" href="/classifierstacks">Classifier Stacking</a>
    <a class="navbar-brand" href="/help">Help</a>
</nav>

Welcome :)
</body>
</html>